<html>
    <head>
        <title>Búsqueda de productos</title>
    </head>

    <body>
        <!-- cuando pulsemos el boton enter le decimos que ira a una direcion buscar -->
                                <!-- method dice como va a ir la info get significa que en la url-->
        <form action="/buscar/" method="GET">
                                    
            <input type="text" name="prd"/>

            <input type="submit" value="Buscar"/>

        </form>                 
    </body>
</html>